<app-header></app-header>
<ion-content class="card-background-page">

    <ion-card (click)="openDetailsWithService(index)" *ngFor="let data of photoService.feedData; let index = index;">
      <ion-text>{{index}}</ion-text>
      <img src={{data.img}} />
      <div class="card-title">{{data.title}}</div>
      <div class="card-subtitle">{{data.like}}</div>
    </ion-card>
    <div style="position: fixed;bottom: 40px;">
        <ion-button (click)="takePicture()" >Camera</ion-button>
        <ion-button (click)="getFile()" >Upload</ion-button>    
    </div>
    
  </ion-content>
<app-footer></app-footer>