<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
    <img  src={{profileData.profileImg}} />
    <ion-text class="ion-text-center" style="display: block;">Username {{profileData.username}}</ion-text>
    <ion-text class="ion-text-center" style="display: block;">Email {{profileData.email}}</ion-text>
</ion-col>
</ion-row>
  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list> -->
  <!--
    <div *ngIf="selectedItem" class="ion-padding">
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
