<app-header [name]="profile"></app-header>


<ion-content>
  <ion-row class="ion-padding">
    <!-- Avatar -->
    <ion-col size="3">
      <img src={{profileData.profileImg}} class="avatar" alt=""/>
    </ion-col>
  <!-- Information about user -->
  <ion-col size="3" class="ion-text-center" >
    <h6>121</h6>
    <p class="ion-no-padding ion-no-margin">posts</p>
  </ion-col>
  <ion-col size="3" class="ion-text-center">
    <h6>1114</h6>
    <p class="no-padding ion-no-margin">followers</p>
  </ion-col>
  <ion-col size="3" class="ion-text-center">
    <h6>1119</h6>
    <p class="ion-no-padding ion-no-margin">following</p>
  </ion-col>
</ion-row>

<!-- Edit/follow button -->
<ion-row class="ion-no-padding ion-ion-no-margin">
  <ion-col class="ion-no-padding ion-no-margin" size="4"></ion-col>
    <ion-col class="ion-no-padding ion-no-margin text-center" size="8">
    <button class="edit-button" >Edit your profile</button>
  </ion-col>
  <ion-col size="3"></ion-col>
</ion-row>

<!-- Profile info -->
<div class="ion-padding">
  <p class="ion-no-margin ion-no-padding"><b>{{profileData.username}}</b></p>
  <p class="info ion-no-padding ion-no-margin">{{profileData.details}}</p>
  </div>
  <ion-grid>
    <ion-row >
      <ion-col size="4" class="grid_img" *ngFor="let item of photoService.feedData" >
        <img [src]="item.img" class="feedProfile" alt=""/>
        <ion-text></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}} <div class="item-note" slot="end">
      {{item.note}}
      </div>
      </ion-item>
      </ion-list> -->
      <!--
    <div *ngIf="selectedItem" class="ion-padding">
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
<app-footer></app-footer>