<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card (click)="openDetailsWithService(index)" *ngFor="let data of photoService.feedData; let index = index;">
      <ion-text>{{index}}</ion-text>
      <img src={{data.img}} />
      <div class="card-title">{{data.title}}</div>
      <div class="card-subtitle">{{data.like}}</div>
    </ion-card>
    <div style="position: fixed;bottom: 0;">
        <ion-button (click)="takePicture()" >Camera</ion-button>
        <ion-button (click)="getFile()" >Upload</ion-button>    
    </div>
    
  </ion-content>
